
      <!-- #Left Sidebar ==================== -->
      <div class="sidebar">
        <div class="sidebar-inner">
          <!-- ### $Sidebar Header ### -->
          <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
              <div class="peer peer-greed">
                <a class="sidebar-link td-n" href="/">
                  <div class="peers ai-c fxw-nw">
                    <div class="peer">
                      <div class="logo">
                        <img src="/static/assets/static/images/logo.png" alt="">
                      </div>
                    </div>
                    <div class="peer peer-greed">
                      <h5 class="lh-1 mB-0 logo-text">Adminator</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="peer">
                <div class="mobile-toggle sidebar-toggle">
                  <a href="" class="td-n">
                    <i class="ti-arrow-circle-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- ### $Sidebar Menu ### -->
          <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
                <span class="title">Home</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="dropdown-toggle" href="javascript:void(0);">
                <span class="icon-holder">
                  <i class="c-orange-500 ti-layout-list-thumb"></i>
                </span>
                <span class="title">Bridge</span>
                <span class="arrow">
                  <i class="ti-angle-right"></i>
                </span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="sidebar-link" href="/config">Config</a>
                </li>
                <li>
                  <a class="sidebar-link" href="/lights">Grops</a>
                </li>
                <li>
                  <a class="sidebar-link" href="/lights">Lights</a>
                </li>
                <li>
                  <a class="sidebar-link" href="/rules">Rules</a>
                </li>
                <li>
                  <a class="sidebar-link" href="/scenes">Scenes</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="sidebar-link" href="/devices">
                <span class="icon-holder">
                  <i class="c-brown-500 ti-view-grid"></i>
                </span>
                <span class="title">Devices</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="sidebar-link" href="/deconz">
                <span class="icon-holder">
                  <i class="c-teal-500 ti-wallet"></i>
                </span>
                <span class="title">Deconz</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="sidebar-link" href="/mqtt">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-rss"></i>
                </span>
                <span class="title">MQTT</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="sidebar-link" href="/alert">
                <span class="icon-holder">
                  <i class="c-deep-orange-500 ti-alert"></i>
                </span>
                <span class="title">Alert</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="sidebar-link" href="/settings">
                <span class="icon-holder">
                  <i class="c-deep-purple-500 ti-settings"></i>
                </span>
                <span class="title">Settings</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="sidebar-link" href="/logout" >
                <span class="icon-holder">
                    <i class="ti-power-off mR-10"></i>
                  </span>
                <span class="title">Logout</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
