{% extends "layouts/base.html" %}

{% block title %} Blank Page {% endblock title %}

<!-- Specific Page JS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- (Almost) A blank page -->
    Name: {{ config.name}} <br>
    API : {{ config.apiversion}} <br>
    IP: {{ config.ipaddress}} <br>
    MAC: {{ config.mac}} <br>
    SwVersion: {{ config.swversion}}


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
