{% extends "layouts/base.html" %}

{% block title %} Blank Page {% endblock title %}

<!-- Specific Page JS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="masonry-item col-md-12">
  <div class="bgc-white p-20 bd">
    <h6 class="c-grey-900">Supported Devices</h6>
    <div class="mT-30">
      <form method="POST">
        {# This hidden_tag is a CSRF security feature. #}
        {{ form.hidden_tag() }}
        {% for device in devicesConfig %}
        <div class="form-group row"><label for="device-{{ device.id }}" class="col-sm-2 col-form-label">{{ device.name }}</label>
          <div class="col-sm-4"><select class="form-control" id="device-{{ device.id }}" name="device-{{ device.id }}">
            <option selected="selected">Choose Group...</option>
            {% for group in groups %}
            <option value="{{ group.id }}" {% if device.configured.room == group.id %}selected="selected" {% endif %}>{{ group.name }}</option>
            {% endfor %}
           </select>
          </div>
          {% if device.modelid == "TRADFRI remote control" %}
          <div class="col-sm-3"><select class="form-control" id="inputConfig{{ device.id }}" name="config-{{ device.id }}">
            <option selected="selected">Choose Mode ...</option>
            <option {% if device.configured.option == "Color Temp Switch" %} selected="selected" {% endif %}>Color Temp Switch</option>
            <option{% if device.configured.option == "Scene Switch" %} selected="selected" {% endif %}>Scene Switch</option>
            <option>Hue Remote Emulation</option>
           </select>
          </div>
          {% endif %}
        </div>
        {% endfor %}


        {% for motionSensor in motionSensors %}
        <div class="form-group row"><label for="motion-{{ motionSensor.id }}" class="col-sm-2 col-form-label">{{ motionSensor.name }}</label>
          <div class="col-sm-4"><select class="form-control" id="motione-{{ motionSensor.id }}" name="motion-{{ motionSensor.id }}">
            <option selected="selected">Choose Mode...</option>
            <option value="off"{% if motionSensor.lightSensor == "off" %} selected="selected" {% endif %}>Always Dark</option>
            <option value="on" {% if motionSensor.lightSensor == "on" %} selected="selected" {% endif %}>Daylight Sensor</option>
           </select>
          </div>
        </div>
        {% endfor %}

        <fieldset class="form-group">
        </fieldset>
        <div class="form-group row">
          <div class="col-sm-10"><button type="submit" class="btn btn-primary">Save</button></div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- needs integration -->

<div class="groupContainer">
  <div class="iconContainer">
    <i class="fas fa-lightbulb"></i>
  </div>
  <div class="textContainer">
  <p>%groupname%</p>
  </div>
  <div class="switchContainer">
    <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label>
  </div>
  <div class="lightBrightness">
    <div class="lightBrightnessValue"></div>
  </div>
 </div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
