<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>DiyHue personal lighting</title>
    <link rel="stylesheet" type="text/css" href="/assets/page-404.css">
</head>
<body>
    <img class="header-logo" src="/assets/images/DiyHue.png" alt="DiyHue personal lighting" />
    <img class="header-logo" src="/assets/images/ststic/images/404.png" alt="DiyHue personal lighting" />
    <div class="error">Oops, there appears to be no lighting here</div>
    <div class="error"><a href="/">Go to home page</a></div>
</body>
</html>
