/* general styles */
html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  background-image: url("images/diyhue_flask_bg.png");
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

body.loginBackground{
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("images/background_login.jpg");
}



.content{
  width: 100%;
}

.content .topbar{
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, .7);
}

h1.loginheadline{
  color: #fff;
  text-align: center;
  margin-top: 10vh;
  font-weight: 100;
  font-size: 45pt;
}

.content.login{
  width: 100%;
}


.contentContainer{
  background: rgba(0,0,0,0.7);
  margin: 50px;
  border-radius: 15px;
  color: #eee;
  padding: 30px;
}


h1.contentheader{
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: 200;
}

.contentContainer .dark{
  background-color: #2C2B26;
  border-color: black;
}

.contentContainer .dark:focus{
  border-color: rgba(#0092FF);
  outline: none;
  background: #000;
  box-shadow: none;
}

.loginContainer{
  margin: auto;
  margin-top: 10vh;
  background: rgba(0, 0, 0, .7);
  width: 50vw;
  height: 400px;
  border-radius: 20px;
  padding: 30px 75px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.loginContainer .logo{
  background-image: url("images/logo.png"); background-repeat: no-repeat;
  margin: auto;
  width: 64px;
  height: 82px;
}

.loginContainer .formContainer{
  width: 100%;

}

/* Login Form */

  .loginContainer .formContainer .form-group label{
    color: #eee;
  }

  .loginContainer .formContainer .form-group input{
    background: none;
    padding: 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
    color: #eee;
    padding-left: 0!important;
  }

  .loginContainer .formContainer .input-group{
    margin-bottom: 20px;
  }

  .input-group-prepend{
    background: none; 
  }


  .input-group-text.override{
    background: none!important;
    border-top-left-radius: 10px!important;
    border-bottom-left-radius: 10px!important;
    border-right: none!important;
    padding: 17px!important;
  }

  .loginContainer .btn.btn-primary.override{
    color: #fff;
    padding: 15px 60px;
    border-radius: 10px;
    margin-top: 10px;
  }

.flexContainer {
  display: -webkit-flex;
  display: flex;
  min-height: 100%;
}

.sidebar{
  background: rgba(0, 0, 0, .7);
  width: 300px;
}

.sidebar.active {
  margin-left: -300px;
}

  .sidebar ul{
    width: 100%;
    padding: 0;
  }

  .sidebar ul li{
    list-style: none;
    padding:15px 15px 15px 40px;
    color: #eee;
    font-size: 13.5pt;
  }

  .sidebar ul li:hover{
    background:rgba(0, 0, 0, .9);
    text-decoration: underline;
  }

  .sidebar li .fas, .sidebar li .fab{
    color: pink;
    margin-right: 20px;
    font-size: 14pt;
  }

  .sidebar li.iconBox img{
    height: 25px;
  }

  .sidebar li.iconBox:hover{
    background: none;
  }

.menuToggle{
  background: none;
  height: 50px;
  color: #eee;
  border: none;
  font-size: 17pt;
  padding: 5px 13px 6px 10px;
  border-bottom-right-radius: 10px;
}


.lightGrid{
  background: rgba(0, 0, 0, .5);
  border-radius: 15px;
  margin: 50px;
  padding: 30px;
  display: flow-root;
}

.lightGrid .headline{
  color: #eee;
  text-transform: uppercase;
  font-size: 13pt;
  margin: 0 0 10px 10px;

}

.lightContainer, .groupContainer {
  position: relative;
  width: 320px;
  height: 100px;
  background: #272727;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5); 
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  overflow: hidden;
  margin: 10px;
  font-size: 14pt;
  font-weight: 400;
}

.groupContainer .overlayBtn{
  position: absolute;
  height: 50px;
  width: 75%;
  top: 20px;
}

.lightContainer.cyan, .groupContainer.cyan{
  background: rgb(60,60,60);
  background: linear-gradient(90deg, rgba(39, 39, 39,1) 0%, rgba(36,224,250,1) 100%);
}

.lightContainer.magenta, .groupContainer.magenta{
  background: rgb(60,60,60);
  background: linear-gradient(90deg, rgba(39, 39, 39,1) 0%, rgba(250,36,231,1) 100%);  
}

.lightContainer .iconContainer, .groupContainer .iconContainer{
  float: left;
  line-height: 100px;
  margin: 0 0 0 15px;
}

.lightContainer .iconContainer i, .groupContainer .iconContainer i {
  /*color: #fff;*/
  font-size: 30px;
  text-align:center;
  width: 50px;
}

  .textLight{
    color:#eee;
  }

  .textDark{
    color:#000!important;
  }

.groupContainer .textContainer{
  float: left;
  height: 90px;
  margin: 20px 0 0 10px;
}

  .lightContainer .textContainer{
    float: left;
    line-height: 90px;
    margin: 0 0 0 10px;
  }

.lightContainer .textContainer p, .groupContainer .textContainer p{
  margin: 0;
}

.groupContainer .textContainer p.sub{
  font-size: 11pt;
  color: #aaa;
}


.lightContainer .switchContainer, .groupContainer .switchContainer{
 float: right;
 line-height: 100px;
 margin: 0 15px 0 0;
}


/*Modal Styling*/
.modal-content.override{
  background-color: rgba(0, 0, 0, .7);
  border-radius: 15px;
  color: #eee;
  border:none;
}

.modal-header.override{
  border-bottom: none;
  padding: 25px;
}

.modal-body.override{
  padding-top: 0;

}

.modal.content .lightContainer{

}

/*END Modal Styling*/


/* flipswitch */
.switchContainer .switch {
  vertical-align: middle;
  position: relative;
  width: 57px;
  height: 30px;
}


.switchContainer .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.switchContainer .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, .4);;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 40px;
    }

    .switchContainer .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 2px;
      bottom: 2px;
      background-color:#aaa;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }

    .switchContainer input:checked + .slider {
      background-color: rgba(0, 0, 0, .7);
    }

    .switchContainer input:focus + .slider {
      box-shadow: 0 0 1px rgba(0, 0, 0, .9);
    }

    .switchContainer input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
      background-color:#fff;
    }
/* END flipswitch */

.lightBrightness {
  position: absolute;
  bottom: 15px;
  left:0;
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  /*padding: 0 5px;*/
  display: flex;
  height: 15px;
  width: 100%;
}

.lightBrightnessValue {
  animation: load 1.5s normal forwards;
  box-shadow: 0 10px 40px -10px rgba(255,255,255,0.2);
  border-radius: 100px;
  background: rgba(255,255,255,0.4);
  height: 16px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 80%; }
}

/* Light intensity slider */
.slideContainer {
  position: absolute;
  bottom: -5px;
  left:0;
  width: 100%; 
}

  .slideContainer .slider{
    -webkit-appearance: none;  
    appearance: none;
    width: 100%; 
    height: 16px; 
    background: rgba(255,255,255,0.1);
    outline: none; 
    border-radius: 50px;
  }

/*Chrome light intensity slider*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    position: relative;
      overflow: hidden;
      -webkit-appearance: none;
    }
    
  input[type='range']::-webkit-slider-runnable-track {
      height: 16px;
      -webkit-appearance: none;
      margin-top: 0;
      border-radius: 50px;
      
    }
    
  input[type='range']::-webkit-slider-thumb {
      width: 16px;
      -webkit-appearance: none;
      height: 16px;
      cursor: ew-resize;
      background: rgba(255,255,255,0.6);
      border-radius: 50%;
      border: none;
      box-shadow: -210px 0 0 200px rgba(255,255,255,0.4);
    }
}
  /* FF Light intensity slider */
input[type="range"]::-moz-range-progress {
  background-color: rgba(255,255,255,0.4); 
  height: 16px;
}
input[type="range"]::-moz-range-track {  
  background-color: rgba(255,255,255,0);
}
/* IE Light intensity slider*/
input[type="range"]::-ms-fill-lower {
  background-color: rgba(255,255,255,0.4); 
}
input[type="range"]::-ms-fill-upper {  
  background-color: rgba(255,255,255,0);
}
/* END Light intensity slider */


@media screen and (max-width: 750px) {
  body{
    background-image: url("images/mobile_background.png");
  }

  .loginContainer{
    width: 90%;
    margin-top: 5vh;
  }

  h1.loginheadline{
    margin-top: 3vh;
  }

  .lightContainer, .groupContainer{
    width: 100%;
    margin: 5px 0 0 0;
  }
  .lightGrid{
    margin: 20px 0 0 0;
    padding: 0;
    /*padding: 10px 20px 0 0;*/
    background: none;
  }
  .content{
    width:100%;
  }

  .contentContainer{
    margin: 0;
  }

}