[Unit]
Description=Hue Emulator Service
After=multi-user.target

[Service]
Type=idle
Restart=always
RestartSec=30
StartLimitInterval=200
StartLimitBurst=5

WorkingDirectory=/opt/hue-emulator
ExecStart=/opt/hue-emulator/HueEmulator3.py
ExecStop=/usr/bin/curl http://127.0.0.1/save
ExecStop=/bin/sleep 1

[Install]
WantedBy=multi-user.target
