.form-control {
  margin-top: 20px;

  label {
    margin: 10px 0 10px 5px;
    display: block;
    font-size: 14px;
    color: #ccc;
  }

  input {
    padding: 15px;
    border: none;
    background: #272727;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    color: #ccc;
    font-size: 17px;
    border: 1px solid #000;
    min-width: 250px;
  }

  .Dropdown-control {
    padding: 15px;
    border: none;
    background: #272727;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    color: #ccc;
    font-size: 17px;
    border: 1px solid #000;
    min-width: 250px;
  }

  .Dropdown-root.is-open {
    .Dropdown-control {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .Dropdown-menu {
    background: #272727;
    border: none;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #ccc;
    .Dropdown-option {
      color: #ccc;
    }
  }

  .Dropdown-placeholder {
    font-size: 17px;
  }

  .Dropdown-arrow {
    margin-top: 10px;
    margin-right: 10px;
  }

  input:focus {
    border-color: rgba(52, 152, 219, 1);
  }

  input.btn-block {
    background: rgba(52, 152, 219, 1);
    padding: 20px 60px;
    border-radius: 35px;
    color: #eee;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;

    &:hover,
    &:active,
    &:focus {
      border: none;
      background: rgb(61, 177, 255);
    }
  }

  input.btn-block.red {
    background: rgba(231, 76, 60, 1);
    color: #eee;

    &:hover,
    &:active {
      background: rgb(255, 86, 68);
    }
  }

  input.btn-block.green {
    background: rgba(46, 204, 113, 1);
    color: #eee;

    &:hover,
    &:active {
      background: rgb(53, 233, 128);
    }
  }
}

/* Generic button */
.btn.generic, button.generic{
    display: inline-block;
    background: rgba(52, 152, 219, 1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 35px;
    color: #eee;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    cursor: pointer;


    &:hover,&:active,&:focus{
      border: none;
      background: rgb(61, 177, 255);
    }
}
/* END generic button */