.ReactModalPortal {
  .ReactModal__Overlay {
    
    background-color: rgba(255, 255, 255, 0) !important;
  }

  .ReactModal__Content {
    &.ReactModal__Content--after-open {
      backdrop-filter: blur(30px);
      -webkit-backdrop-filter: blur(30px);
      background: rgba(255, 255, 255, 0.09) !important;
      border-radius: 20px !important;
      box-sizing: border-box;
      padding: 20px;
      inset: 60px !important;
      border: none !important;

      .header {
        display: flex;
        font-size: 20px;
        color: #ccc;

        .headline {
          flex: 1 1 auto;
        }

        .iconbox {
          flex: 0 0 auto;

          button {
            background: none;
            width: 25px;
            height: 25px;
            border: none;

            svg {
              color: #ccc;
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
}

@-moz-document url-prefix() {

    .ReactModalPortal {
        .ReactModal__Overlay {
          
          background-color: rgba(252, 8, 8, .5);
        }
    }
}