/* Resets  */
* {
  margin: 0;
  padding: 0;
  outline: 0 none;
  -webkit-border-radius: 0px;
  -webkit-appearance: none;
}

img {
  border-width: 0;
}
/* END Resets */

html, body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    background-image: url("../static/images/background-min.png");
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
  }

.clear{
  clear: both;
}

#root {
  height:100%;
  width: 100%;
}

.flexContainer {
  display: -webkit-flex;
  display: flex;
  min-height: 100%;
}

.topbar{
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, .7);


  img{
    height: 35px;
    margin: 7px 7px 7px 40px;
    float: left;
  }

  .sidebarToggle{
    background: none;
    height: 50px;
    color: #eee;
    border: none;
    font-size: 17pt;
    padding: 5px 13px 6px 10px;
    border-bottom-right-radius: 10px;
    float: left;
    margin: 0 0 0 170px;
  }

  .switchContainer{
    float: right;
    margin: 8px 0 0 0;

      p{
        float: right;
        color: #eee;
        margin: 5px 50px 0 70px;
      }

      .slider{
        background: rgba(255,255,255, .15);
        }


      input:checked + .slider {
        background-color: rgba(255,255,255, .2);
      }

      input:focus + .slider {
        box-shadow: 0 0 1px rgba(255,255,255, .2);
      }

  }

  .groupToggle{
    float: right;
    color: #aaa;
    margin: 2px 50px 0 10px;
    height: 100%;
    line-height: 47px;
    font-size: 20pt;
  }

  .groupToggle:active{
    color: #fff;
  }

  .groupToggle:focus{
    color: #fff;
  }
}



.sidebar{
  background: rgba(0, 0, 0, .7);
  width: 250px;
  margin-top: 50px;
  min-width: 250px;


  ul{
    width: 100%;
    padding: 0;

    a {
      text-decoration: none;
    }

    li{
      list-style: none;
      padding:15px 15px 15px 40px;
      color: #eee;
      font-size: 13.5pt;
        -webkit-transition: all .3s;
      transition: all .3s;
    }


    li:hover{
    background:rgba(49, 49, 49, 0.6);
    text-decoration: none;
      -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 30px;
    }
  }

  li .fas, li .fab{
    color: pink;
    margin-right: 20px;
    font-size: 14pt;
  }



  li.iconBox:hover{
    background: none;
  }
}

.sidebar.active {
  margin-left: -250px;
}

.content{
  margin-top: 100px;
}

.cardGrid, .contentContainer{
  background: rgba(0, 0, 0, .6);
  border-radius: 15px;
  margin: 50px;
  padding: 30px;
  display: flow-root;
  color:#eee;


  .headline{
    color: #B9B9B9;
    text-transform: uppercase;
    font-size: 12pt;
    margin: 0 0 10px 10px;

  }
}



.lightContainer, .groupContainer {
  float: left;
  position: relative;
  width: 320px;
  height: 100px;
  min-height: 100px;
  background: #272727;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  overflow: hidden;
  margin: 10px;
  font-size: 14pt;
  font-weight: 400;

  .overlayBtn{
    position: absolute;
    height: 70px;
    width: 220px;
    top: 0;
    cursor: pointer;
  }

  .iconContainer{
    float: left;
    line-height: 85px;
    height: 85px;
    margin: 0 0 0 15px;

    i{
      font-size: 30px;
      text-align:center;
      width: 50px;
    }
    svg{
      height: 30px;
      width: 30px;
      margin-top: 25px;
    }
  }

  .textContainer{
    float: left;
    margin: 0 0 0 10px;
    height: 85px;
    line-height: 85px;

    p{
      margin: 0;
      padding: 0;

      &sub{
        font-size: 11pt;
        color: #aaa;
      }
    }

  }

  .switchContainer{
    float: right;
    height:85px;
    line-height: 85px;
    width: 50px;
    margin: 0 25px 0 0;
    }

}

/* Devices and Lights */

.card {
  width: 300px;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  /*background:#272727;*/
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.5);
  float: left;
  margin: 15px;
  color: #ccc;
  border: 1px solid #111;

  &.device {
  }

  &.light {
  }

  .row1 {
    /*outline: 1px solid green;*/
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 15px 15px 5px 15px;
    height: 50px;
    gap: 10px;
    vertical-align: middle;
    align-items: center;

    .icon {
      font-size: 35px;
      flex: 0 0 60px;
      text-align: center;
    }

    .text {
      flex: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 18px;
    }
  }

  .row2 {
    /*outline: 1px solid red;*/
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0 15px 0 15px;

    .text {
      flex: 1;
      text-align: right;
    }
  }

  .row3 {
    /*outline: 1px solid blue;*/
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100px;
    gap: 20px;
    padding: 10px 15px 15px 15px;
    height: 50px;
    align-items: center;
    justify-content: center;

    .dropdown {
      flex: 1;
      width: 100%;
      height: 50px;
      background: #000;
      border-radius: 10px;
    }

    .switchContainer {
      flex: 0 0 60px;
    }

    .btn {
      flex: 0 0 40px;
      height: 40px;
      width: 40px;
      border-radius: 10px;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      cursor: pointer;

      svg{
        height: 1.5em;
        width: 1.5em;
        margin-top: 4px;
      }

      &.red {
        background: #881a3a;

        &:hover,
        &:active {
          background: #af234a;
        }
      }

      &.blue {
        background: #1a5088;

        &:hover,
        &:active {
          background: #2872c2;
        }
      }
    }
  }

  .label {
    position: absolute;
    height: 15px;
    width: 30px;
    top: -6px;
    right: -20px;
    border-bottom: 15px solid rgba(223, 16, 16, 0.3);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    transform: rotateY(0deg) rotate(45deg);
    text-align: center;
    line-height: 45px;
    font-size: 11px;
  }

  &.expanded {
    .row4 {
      /*outline: 1px solid red;*/
      display: flex;
      flex-direction: row;
      align-items: stretch;
      padding: 5px 15px 15px 15px;

      li {
        list-style: none;
        margin-left: 0px;
      }
    }
  }
}

/* END Devices and Lights */


/* Overrides */

.lightContainer, .groupContainer,.groupContainer.textDark, .groupContainer.textLight{

  &.textLight{
   p, i{
     color: #ccc;
   }
   svg{
     fill: #ccc;
   }
   p.sub{
     color: #aaa;
   }

  }
  &.textDark{
    p, i{
      color: #222;
    }
    svg{
      fill: #222;
    }
    p.sub{
      color: #444;
    }
   }
}

.groupContainer{
  .lightContainer{
    width: 280px;
    float: none;
  }
}

.groupContainer{
  &.expanded{
    margin-top: 55px;
    height: auto;
    overflow: visible;
    padding-top: .1px;

      .slideContainer{
        top: 80px;
        height: 20px;
      }

      p{

      }

      .dimmer{
        background:rgba(0,0,0,0.4);
        width: 100%;
        margin-top: 81px;
        border-radius: 8px;
        padding: 30px 10px 10px 10px;
        box-sizing: border-box;


        h3{
          color: #eee;
        }

        .sceneContainer{
          width: 130px;
          height: 75px;
          margin: 5px;
          background: #272727;
          border-radius: 8px;
          -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
          box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
          float: left;
          padding: 5px;
          color: #eee;
          cursor: pointer;
        }

        .sceneContainer:hover{
          background: #3e3e3e;
        }

      }

      .header{
        position: absolute;
        margin-top: -45px;
        width: 100%;
        height: 40px;

        .icon{
          width: 35px;
          height: 35px;
          line-height:35px;
          background: rgba(0, 0, 0, .7);
          border-radius: 50%;
          float: left;
          font-size: 18pt;
          border: 2px solid rgba(0, 0, 0, .7);

          svg{
            fill: #eee;
            width: 30px;
            height: 30px;
            display: block;
            margin: 2px 1px 2px 1px;
          }

        }

        .icon:hover{
            background: rgba(85, 85, 85, 0.7);
            border: 2px solid rgba(85, 85, 85, 0.7);
        }

        i{
          margin-left: 8px;
        }

        .text{
          height: 30px;
          line-height:34px;
          margin-left: 10px;
          color: #B9B9B9;
          text-transform: uppercase;
          font-size: 12pt;
          float: left;
        }

        .tab{
          margin-left: 10px;
          width: 35px;
          height: 35px;
          line-height: 35px;
          background: rgba(0, 0, 0, .7);
          border-radius: 50%;
          float: right;
          font-size: 13pt;
          border: 2px solid rgba(0, 0, 0, .7);

          svg{
            fill: #eee;
            width: 20px;
            height: 20px;
            display: block;
            margin: 7px auto;
          }

        }

        .tab:hover{
          background: rgba(85, 85, 85, 0.7);
          border: 2px solid rgba(85, 85, 85, 0.7);
        }

        .tab:active, .tab.active{
          border: 2px solid #aaa;
          background: rgba(85, 85, 85, 0.7);
        }

    }

  }

}

/* END Overrides */




/* Light intensity slider */
.slideContainer {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  height: 20px;
}

  .slideContainer .slider{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 16px;
    background: rgba(255,255,255,0.1);
    outline: none;
    border-radius: 50px;
  }

/*Chrome light intensity slider*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    position: relative;
    overflow: hidden;
    -webkit-appearance: none;
  }

  input[type='range']::-webkit-slider-runnable-track {
    height: 16px;
    -webkit-appearance: none;
    margin-top: 0;
    border-radius: 50px;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 16px;
    -webkit-appearance: none;
    height: 16px;
    cursor: ew-resize;
    background: rgba(255,255,255,0.6);
    border-radius: 50%;
    border: none;
    box-shadow: -210px 0 0 200px rgba(255,255,255,0.4);
  }
}
  /* FF Light intensity slider */
input[type="range"]::-moz-range-progress {
  background-color: rgba(255,255,255,0.4);
  height: 16px;
}
input[type="range"]::-moz-range-track {
  background-color: rgba(255,255,255,0);
}
input[type="range"]::-moz-range-thumb {
  border: none;
}
/* IE Light intensity slider*/
input[type="range"]::-ms-fill-lower {
  background-color: rgba(255,255,255,0.4);
}
input[type="range"]::-ms-fill-upper {
  background-color: rgba(255,255,255,0);
}
/* END Light intensity slider */





/* Linkbutton */
.linkbtn,.linkbtn2 {
  margin-top: 50px;
  width: 300px;
  height: 100px;
  line-height: 100px;
  color: rgba(255,255,255,0.9);
  border-radius: 50px;
  background: linear-gradient(-45deg, #597cee, #a659ee, #ee59c6, #ee5b59, #eecb59, #a1ee59, #59ee80, #59ebee);
  background-size: 650%;
  -webkit-animation: linkbtn 20s linear infinite;
          animation: linkbtn 20s linear infinite;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.linkbtn2 {
  position: absolute;
  margin-top: -65px;
  opacity: 0.2;
  z-index: 1;
  filter: blur(35px);
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.linkbtn2:hover{
  z-index: 1;
  opacity: 1;
  margin-top: -100px;
  background: rgba(0, 0, 0, .3);
  filter:blur(0);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.linkbtn2:active{
  z-index: 1;
  opacity: 1;
  margin-top: -100px;
  background: rgba(255,255,255, .3);
  filter:blur(0);
  -webkit-transition: all .3s;
  transition: all .3s;
}

@-webkit-keyframes linkbtn {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes linkbtn {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* END linkbutton */





@media screen and (max-width: 750px) {
  body{
    background-image: url("../static/images/mobile_background-min.png");
  }

  .loginContainer{
    width: 90%;
    margin-top: 5vh;
  }

  h1.loginheadline{
    margin-top: 3vh;
  }

  .lightContainer, .groupContainer{
    width: 100%;
    margin: 5px 0 0 0;
  }

  .groupContainer.expanded{
    margin-top: 60px;
    }

  .lightGrid{
    margin: 20px 0 0 0;
    padding: 0;
    /*padding: 10px 20px 0 0;*/
    background: none;
  }
  .content{
    width:100%;
  }

  .cardGrid{
    padding: 0;
    margin: 0;
  }


  .topbar .switchContainer p{
    margin: 2px 15px 0 10px;
  }

  .sidebar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index:1000;
    width: 250px;
    min-width: 250px;
    background: rgba(0,0,0,0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

  .sidebar.active {
    transform: translateY(0);
  }

}

.show {
  opacity: 1;
  transition: opacity .5s;
}
.hide {
  opacity: 0;
}