/* Resets */
* {
  margin: 0;
  padding: 0;
  outline: 0 none;
  -webkit-border-radius: 0px;
  -webkit-appearance: none;
}

img {
  border-width: 0;
}
/* END Resets */

html, body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    background-image: url("../static/images/diyhue_flask_bg.png");
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
  }


.flexContainer {
  display: -webkit-flex;
  display: flex;
  min-height: 100%;
}

.topbar{
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, .7);


  img{
    height: 35px;
    margin: 7px 7px 7px 40px;
    float: left;
  }

  .sidebarToggle{
    background: none;
    height: 50px;
    color: #eee;
    border: none;
    font-size: 17pt;
    padding: 5px 13px 6px 10px;
    border-bottom-right-radius: 10px;
    float: left;
    margin: 0 0 0 170px;
  }

  .switchContainer{
    float: right;
    margin: 10px 0 0 0;
  }

      p{
        float: right;
        color: #eee;
        margin: 2px 50px 0 10px;

      .slider{
        background: rgba(0, 0, 0, .9);
        }
      }

    .groupToggle{
      float: right;
      color: #aaa;
      margin: 2px 50px 0 10px;
      height: 100%;
      line-height: 47px;
      font-size: 20pt;
    }

    .groupToggle:active{
      color: #fff;
    }

    .groupToggle:focus{
      color: #fff;
    }
}



.sidebar{
  background: rgba(0, 0, 0, .7);
  width: 250px;
  margin-top: 50px;



  ul{
    width: 100%;
    padding: 0;


    li{
      list-style: none;
      padding:15px 15px 15px 40px;
      color: #eee;
      font-size: 13.5pt;
    }


    li:hover{
    background:rgba(0, 0, 0, .9);
    text-decoration: underline;
    }
  }

  li .fas, li .fab{
    color: pink;
    margin-right: 20px;
    font-size: 14pt;
  }



  li.iconBox:hover{
    background: none;
  }
}

.sidebar.active {
  margin-left: -250px;
}

.content{
  margin-top: 50px;
}

.cardGrid{
  background: rgba(0, 0, 0, .6);
  border-radius: 15px;
  margin: 50px;
  padding: 30px;
  display: flow-root;


  .headline{
    color: #B9B9B9;
    text-transform: uppercase;
    font-size: 12pt;
    margin: 0 0 10px 10px;

  }
}



.lightContainer, .groupContainer {
  float: left;
  position: relative;
  width: 320px;
  height: 100px;
  background: #272727;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  overflow: hidden;
  margin: 10px;
  font-size: 14pt;
  font-weight: 400;

  .overlayBtn{
    position: absolute;
    height: 50px;
    width: 75%;
    top: 20px;
  }

  .iconContainer{
    float: left;
    line-height: 100px;
    margin: 0 0 0 15px;

    i{
      font-size: 30px;
      text-align:center;
      width: 50px;
    }
  }

  .textContainer{
    float: left;
    margin: 20px 0 0 10px;

    p{
      margin: 0;

      &sub{
        font-size: 11pt;
        color: #aaa;
      }
    }

  }

  .switchContainer{
    float: right;
    line-height: 100px;
    margin: 0 15px 0 0;
    }

}

/* Overrides */

.lightContainer, .groupContainer{

  &.textLight{
   p, i{
     color: #ccc;
   }
   p.sub{
     color: #aaa;
   }

  }
  &.textDark{
    p, i{
      color: #222;
    }
    p.sub{
      color: #444;
    }
   }
}

.groupContainer{
  &.expanded{
    margin-top: 40px;
    height: auto;
    overflow: visible;
    padding-top: .1px;

      .slideContainer{
        top: 75px;
        height: 23px;
      }

      p{
        margin-top: 13px;
      }

      .dimmer{
        background:rgba(0,0,0,0.4);
        width: 100%;
        margin-top: 80px;
        border-radius: 8px;
        padding: 30px 10px 20px 10px;
      }

      .header{
        position: absolute;
        margin-top: -40px;
        width: 100%;
        height: 30px;

        .icon{
          width: 35px;
          height: 35px;
          line-height:32px;
          background: rgba(0, 0, 0, .7);
          border-radius: 50%;
          float: left;
          font-size: 18pt;
        }

        i{
          margin-left: 8px;
        }

        .text{
          height: 30px;
          line-height:34px;
          margin-left: 10px;
          color: #B9B9B9;
          text-transform: uppercase;
          font-size: 12pt;
          float: left;
        }

        .tab{
          margin-left: 10px;
          width: 35px;
          height: 35px;
          line-height: 29px;
          background: rgba(0, 0, 0, .7);
          border-radius: 50%;
          float: right;
          font-size: 13pt;
          border: 2px solid rgba(0, 0, 0, .7);;
        }

        .tab:hover{
          background: rgba(85, 85, 85, 0.7);
          border: 2px solid rgba(85, 85, 85, 0.7);
        }

        .tab:active{
          border: 2px solid #eee;
        }

    }

  }

}

/* END Overrides */

/* Start flipswitch */
.switchContainer .switch {
  vertical-align: middle;
  position: relative;
  width: 57px;
  height: 30px;
}

  .switchContainer .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

.switchContainer .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .4);;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 40px;
}

  .switchContainer .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color:#aaa;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }

  .switchContainer input:checked + .slider {
    background-color: rgba(0, 0, 0, .7);
  }

  .switchContainer input:focus + .slider {
    box-shadow: 0 0 1px rgba(0, 0, 0, .9);
  }

  .switchContainer input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color:#fff;
  }
/* END flipswitch */


/* Light intensity slider */
.slideContainer {
  position: absolute;
  bottom: -5px;
  left:0;
  width: 100%;
}

  .slideContainer .slider{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 16px;
    background: rgba(255,255,255,0.1);
    outline: none;
    border-radius: 50px;
  }

/*Chrome light intensity slider*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    position: relative;
    overflow: hidden;
    -webkit-appearance: none;
  }

  input[type='range']::-webkit-slider-runnable-track {
    height: 16px;
    -webkit-appearance: none;
    margin-top: 0;
    border-radius: 50px;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 16px;
    -webkit-appearance: none;
    height: 16px;
    cursor: ew-resize;
    background: rgba(255,255,255,0.6);
    border-radius: 50%;
    border: none;
    box-shadow: -210px 0 0 200px rgba(255,255,255,0.4);
  }
}
  /* FF Light intensity slider */
input[type="range"]::-moz-range-progress {
  background-color: rgba(255,255,255,0.4);
  height: 16px;
}
input[type="range"]::-moz-range-track {
  background-color: rgba(255,255,255,0);
}
/* IE Light intensity slider*/
input[type="range"]::-ms-fill-lower {
  background-color: rgba(255,255,255,0.4);
}
input[type="range"]::-ms-fill-upper {
  background-color: rgba(255,255,255,0);
}
/* END Light intensity slider */


@media screen and (max-width: 750px) {
  body{
    background-image: url("../static/images/mobile_background.png");
  }

  .loginContainer{
    width: 90%;
    margin-top: 5vh;
  }

  h1.loginheadline{
    margin-top: 3vh;
  }

  .lightContainer, .groupContainer{
    width: 100%;
    margin: 5px 0 0 0;
  }
  .lightGrid{
    margin: 20px 0 0 0;
    padding: 0;
    /*padding: 10px 20px 0 0;*/
    background: none;
  }
  .content{
    width:100%;
  }

  .contentContainer{
    margin: 0;
  }

  .topbar .switchContainer p{
    margin: 2px 15px 0 10px;
  }

  .sidebar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index:1000;
    background: rgba(0,0,0,0.8);
    -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  }

  .sidebar.active {
    transform: translateY(0);
  }

}
