body {
  background: url(images/login_dark_blur.webp) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
}
.header-logo {
  display: block;
  margin: 17px auto;
}
.error {
  font-size: 32px;
  line-height: 240px;
  font-family: "Lato", sans-serif;
  color: white;
  text-align: center;
  a{
    color: white;
  }
}
